@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #1a1a1d;
  color: #ffffff;
}

/* Add this to your global CSS */
.liquid-glass-navbar {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(200, 200, 255, 0.025) 100%
  );
  border: 1.5px solid rgba(255, 255, 255, 0.18);
  border-radius: 2rem;
  backdrop-filter: blur(5px) saturate(180%);
  box-shadow: 10px 10px 50px 20px rgba(31, 38, 135, 0.18);
}

p{
  color : gray;
  line-height: 2.0;
}